:root {
    /* Colours */
    --color-text: #fff;
    --color-primary: #BB783A;
    --color-secondary: #C88E57;
    --color-dark: #C88E57;
    --color-bg: #CCD5AE;
  
    /* Fonts */
    --font-roboto: "Roboto";
  }